<h2 style="color: blue">Centro de mensajes</h2>
<input type="email" id="chat-email" placeholder="user@email.com" />
<div id="messages">
  <p>marcelo@gmail.com [01/01/2020 12:25:56]: Hola!</p>
  <p>fiecconi@hotmail.com [01/01/2020 12:30:14]: Como estás??</p>
  <p>marcelo@gmail.com [01/01/2020 12:35:22]: Bien y vos?!</p>
</div>
<input type="text" id="chat-message" placeholder="type your message" />
<input type="button" id="send" class="btn bootstrap-combined" value="Send"></input>
<script src="/public/input-chat.js"></script>