<table class="table" id="product-table">
  <head>
    <tr>
      <th>#</th>
      <th>Titulo</th>
      <th>Precio</th>
      <th>Imagen</th>
    </tr>
  </head>
  <tbody id="product-tbody"></tbody>
</table>
<script src="/socket.io/socket.io.js"></script>
<script src="/public/input-productos.js"></script>
